In [1]:
import pandas as pd
import numpy as np
import sqlite3
from random import randint

In [2]:
all_tables_names="""common_player_info,draft_combine_stats,draft_history,game,game_info,game_summary,inactive_players,line_score,officials,other_stats,play_by_play,player,team,team_details,team_history,team_info_common"""
all_tables_names=all_tables_names.split(",")
all_tables_names

['common_player_info',
 'draft_combine_stats',
 'draft_history',
 'game',
 'game_info',
 'game_summary',
 'inactive_players',
 'line_score',
 'officials',
 'other_stats',
 'play_by_play',
 'player',
 'team',
 'team_details',
 'team_history',
 'team_info_common']

In [ ]:
#generate a random datframe
df = pd.DataFrame(np.random.randint(0,100,size=(100, 4)), columns=list('ABCD'))
df2=pd.DataFrame(np.random.randint(10,20,size=(5,5)),index=['a','b','c','d','e'],columns=list(['A','B','C','D','E']))
data=np.random.randint(0,100,size=(100, 4))
cols=['A','B','C','D']
df3=pd.DataFrame(data,columns=cols)
df3

In [ ]:
out_data=pd.read_csv('data.csv')
# len(out_data['player_name'])
season_2021_22=out_data[out_data['season']=='2021-22']
season_2021_22[season_2021_22['player_name']=='Stephen Curry']

In [ ]:
con = sqlite3.connect("nba.sqlite")
con2=sqlite3.connect("nba2.sqlite")
df = pd.read_sql_query("SELECT * from common_player_info", con)
# df.head()

In [ ]:
line_score=pd.read_sql_query("SELECT * from line_score", con)
line_score

In [ ]:
# #get all the tables in the csv folder
# import os
# Data_frames=[]
# tabels=os.listdir('csv')
# for i in tabels:
#     Data_frames.append(pd.read_csv('csv/'+i))
# print(len(Data_frames),len(tabels))
# tabels_names=[]
# for i in tabels:
#     tabels_names.append(i.split('.')[0])

In [ ]:
# for i in range(len(Data_frames)):
#     Data_frames[i].to_sql(tabels_names[i], con2, if_exists='replace', index = False)

dr=

In [ ]:
def random_multilevel_dataFrame():
    m=12
    n=3
    
    data=np.random.randint(0,100,size=(m, n))
    indexs=[]
    for i in range(3):
        indexs.append(chr(randint(65,90)))
    indexs*=4
    indexs.sort()
    indexs2=[]
    for i in range(4):
        indexs2.append(randint(1,3))
    indexs2*=3
    columns=[]
    for i in range(n):
        columns.append(chr(randint(100,110)))
    df=pd.DataFrame(data,index=[indexs,indexs2],columns=columns)
    return df
df=random_multilevel_dataFrame()
df

In [93]:
df=pd.read_csv('data.csv')
by_player=df.groupby ('player_name')
steph=by_player.get_group('Stephen Curry')
steph['pts'].mean()

23.761538461538464

In [52]:
keys=['a','b','c','d','e']
data=np.random.randint(0,5,size=(10, 5))
d={keys[i]:data[:,i] for i in range(len(keys))}
df=pd.DataFrame(d)
df
#generate me a random dataframe of 10 rows and 5 columns of NBA players and their stats

   a  b  c  d  e
0  1  1  2  1  1
1  3  1  3  1  3
2  3  0  2  4  3
3  3  2  4  3  3
4  4  3  1  1  1
5  2  3  0  3  1
6  1  1  3  0  0
7  2  0  0  3  4
8  1  4  2  3  3
9  4  1  2  1  4

In [96]:
import pandas as pd

# Create a dictionary with data
data = {
    "Player Name": ["John Smith", "Michael Johnson", "Chris Williams", "Kevin Thompson", "Alex Martinez"],
    "Points": [25.3, 12.5, 18.2, 14.7, 21.0],
    "Rebounds": [7.1, 5.6, 10.4, 4.2, 6.9],
    "Assists": [4.9, 8.3, 2.1, 7.6, 5.7],
    "Steals": [1.2, 1.5, 0.9, 2.0, 1.7],
    "Blocks": [0.7, 0.3, 1.9, 0.5, 1.2],
    "Field Goal %": [48.2, 41.7, 51.3, 43.8, 46.5],
}

# Create a DataFrame from the dictionary
nba_df = pd.DataFrame(data)

# Display the DataFrame
print(nba_df)

       Player Name  Points  Rebounds  Assists  Steals  Blocks  Field Goal %
0       John Smith    25.3       7.1      4.9     1.2     0.7          48.2
1  Michael Johnson    12.5       5.6      8.3     1.5     0.3          41.7
2   Chris Williams    18.2      10.4      2.1     0.9     1.9          51.3
3   Kevin Thompson    14.7       4.2      7.6     2.0     0.5          43.8
4    Alex Martinez    21.0       6.9      5.7     1.7     1.2          46.5

In [55]:
df.sort_values(by=['a','b','c','d','e'],ascending=True)

   a  b  c  d  e
0  1  1  2  1  1
6  1  1  3  0  0
8  1  4  2  3  3
7  2  0  0  3  4
5  2  3  0  3  1
2  3  0  2  4  3
1  3  1  3  1  3
3  3  2  4  3  3
9  4  1  2  1  4
4  4  3  1  1  1

In [9]:
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

# generate random classification dataset with 3 classes, 10 features, and 5000 samples
X, y = make_classification(n_samples=5000, n_features=10, n_classes=3, n_clusters_per_class=1)
# print((X),'\n',(y))

# split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=42)

# create an SVC model with a linear kernel
svc_model = SVC(kernel='linear')

# train the model on the training data
svc_model.fit(X_train, y_train)

# make predictions on the testing data
y_pred = svc_model.predict(X_test)

# calculate the accuracy score of the model
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

#generate new data to predict
X_new, y_new = make_classification(n_samples=3, n_features=10, n_classes=3, n_clusters_per_class=1)
# print((X_new),'\n',(y_new))

# predict the class of the new data

y_new_pred = svc_model.predict(X_new)
print("Predicted class:", y_new_pred)

Accuracy: 0.9468
Predicted class: [0 1 2]

In [1]:
import tensorflow as tf
print("TensorFlow version:", tf.__version__)

TensorFlow version: 2.12.0

In [11]:
import numpy as np
#import make_classification from sklearn.datasets
from sklearn.datasets import make_classification
# generate random classification dataset with 3 classes, 10 features, and 5000 samples
X, y = make_classification(n_samples=5000, n_features=10, n_classes=3, n_clusters_per_class=1)
print((X),'\n',(y))

# split the data into training and testing sets

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=42)

# create an SVC model with a linear kernel

svc_model = SVC(kernel='linear')


# train the model on the training data

svc_model.fit(X_train, y_train)

[[-1.59752367  0.7982922   0.45726087 ...  1.33357737 -0.92113395
  -1.18244082]
 [ 1.37091566 -0.83571478  1.55051752 ... -1.0510249  -1.65018883
  -2.02901917]
 [ 0.67265802 -0.35414403 -1.24775552 ... -0.01151996  0.0960523
  -0.15040936]
 ...
 [ 1.5367157  -0.90091206 -0.28616333 ... -1.26298506 -1.26859718
   0.61827724]
 [-0.77252615  0.51364559  0.20710541 ...  0.56104312  1.62181001
  -2.64972748]
 [-1.48828947  0.74947779  1.75677142 ...  0.94495238 -0.76466728
  -0.46656392]]
 [2 1 1 ... 1 0 2]

NameError: name 'train_test_split' is not defined