In [1]:
import pandas as pd
import numpy as np
import sqlite3
from random import randint

In [2]:
all_tables_names="""common_player_info,draft_combine_stats,draft_history,game,game_info,game_summary,inactive_players,line_score,officials,other_stats,play_by_play,player,team,team_details,team_history,team_info_common"""
all_tables_names=all_tables_names.split(",")
all_tables_names

['common_player_info',
 'draft_combine_stats',
 'draft_history',
 'game',
 'game_info',
 'game_summary',
 'inactive_players',
 'line_score',
 'officials',
 'other_stats',
 'play_by_play',
 'player',
 'team',
 'team_details',
 'team_history',
 'team_info_common']

In [3]:
#generate a random datframe
df = pd.DataFrame(np.random.randint(0,100,size=(100, 4)), columns=list('ABCD'))
df2=pd.DataFrame(np.random.randint(10,20,size=(5,5)),index=['a','b','c','d','e'],columns=list(['A','B','C','D','E']))
data=np.random.randint(0,100,size=(100, 4))
cols=['A','B','C','D']
df3=pd.DataFrame(data,columns=cols)
df3

     A   B   C   D
0    4  14  15  39
1   95  51  87  93
2   14  33  94  12
3   50  54  94  24
4   74  23  80  92
..  ..  ..  ..  ..
95  26  49  73  44
96  74  73  31  63
97  70  15  39  31
98  24  40  58  43
99  24  76  81  98

[100 rows x 4 columns]

In [4]:
out_data=pd.read_csv('data.csv')
# len(out_data['player_name'])
season_2021_22=out_data[out_data['season']=='2021-22']
season_2021_22[season_2021_22['player_name']=='Stephen Curry']

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,...,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
12024,12024,Stephen Curry,GSW,34.0,187.96,83.91452,Davidson,USA,2009,1,...,25.5,5.2,6.3,10.7,0.015,0.126,0.293,0.601,0.286,2021-22

In [5]:
con = sqlite3.connect("nba.sqlite")
con2=sqlite3.connect("nba2.sqlite")
df = pd.read_sql_query("SELECT * from common_player_info", con)
# df.head()

In [6]:
line_score=pd.read_sql_query("SELECT * from line_score", con)
line_score

,game_date_est,game_sequence,game_id,team_id_home,team_abbreviation_home,team_city_name_home,team_nickname_home,team_wins_losses_home,pts_qtr1_home,pts_qtr2_home,...,pts_ot2_away,pts_ot3_away,pts_ot4_away,pts_ot5_away,pts_ot6_away,pts_ot7_away,pts_ot8_away,pts_ot9_away,pts_ot10_away,pts_away
0,1946-11-01 00:00:00,NaN,0024600001,1610610035,HUS,Toronto,Huskies,-,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,68
1,1946-11-02 00:00:00,NaN,0024600003,1610610034,BOM,St. Louis,Bombers,-,16,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51
2,1946-11-02 00:00:00,NaN,0024600002,1610612738,BOS,Boston,Celtics,-,10.0,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59
3,1946-11-02 00:00:00,NaN,0024600004,1610610025,CHS,Chicago,Stags,-,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47
4,1946-11-02 00:00:00,NaN,0024600005,1610610036,WAS,Washington,Capitols,-,21,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60791,2023-03-12 00:00:00,3.0,0022201016,1610612755,PHI,Philadelphia,76ers,45-22,27,28,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,93
60792,2023-03-12 00:00:00,5.0,0022201018,1610612759,SAS,San Antonio,Spurs,17-50,19,28,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,102
60793,2023-03-12 00:00:00,4.0,0022201017,1610612757,POR,Portland,Trail Blazers,31-37,25,29,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,127
60794,2023-03-12 00:00:00,6.0,0022201019,1610612752,NYK,New York,Knicks,40-30,31,31,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,108
60795,2023-03-12 00:00:00,1.0,0022201014,1610612751,BKN,Brooklyn,Nets,39-29,30,31,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,120

In [7]:
# #get all the tables in the csv folder
# import os
# Data_frames=[]
# tabels=os.listdir('csv')
# for i in tabels:
#     Data_frames.append(pd.read_csv('csv/'+i))
# print(len(Data_frames),len(tabels))
# tabels_names=[]
# for i in tabels:
#     tabels_names.append(i.split('.')[0])

In [8]:
# for i in range(len(Data_frames)):
#     Data_frames[i].to_sql(tabels_names[i], con2, if_exists='replace', index = False)

dr=

In [9]:
def random_multilevel_dataFrame():
    m=12
    n=3
    
    data=np.random.randint(0,100,size=(m, n))
    indexs=[]
    for i in range(3):
        indexs.append(chr(randint(65,90)))
    indexs*=4
    indexs.sort()
    indexs2=[]
    for i in range(4):
        indexs2.append(randint(1,3))
    indexs2*=3
    columns=[]
    for i in range(n):
        columns.append(chr(randint(100,110)))
    df=pd.DataFrame(data,index=[indexs,indexs2],columns=columns)
    return df
df=random_multilevel_dataFrame()
df

      e   i   i
B 3  37  51  54
  1  48  73  44
  3  10  49  31
  3  46  42  45
J 3  28  60  58
  1  35  63  90
  3  71  51  82
  3  70  68  98
U 3  61  15  14
  1  65  92  98
  3   1  53  15
  3   4  68  24

In [10]:
df=pd.read_csv('data.csv')
by_player=df.groupby ('player_name')
steph=by_player.get_group('Stephen Curry')
steph['pts'].mean()

23.761538461538464

In [11]:
keys=['a','b','c','d','e']
data=np.random.randint(0,5,size=(10, 5))
d={keys[i]:data[:,i] for i in range(len(keys))}
df=pd.DataFrame(d)
df
#generate me a random dataframe of 10 rows and 5 columns of NBA players and their stats

   a  b  c  d  e
0  3  2  2  1  0
1  1  2  0  3  0
2  2  3  0  1  2
3  3  1  2  3  1
4  2  1  4  2  0
5  0  2  4  0  3
6  1  2  2  4  1
7  0  2  2  2  3
8  0  3  3  0  4
9  2  4  3  3  2

In [12]:
import pandas as pd

# Create a dictionary with data
data = {
    "Player Name": ["John Smith", "Michael Johnson", "Chris Williams", "Kevin Thompson", "Alex Martinez"],
    "Points": [25.3, 12.5, 18.2, 14.7, 21.0],
    "Rebounds": [7.1, 5.6, 10.4, 4.2, 6.9],
    "Assists": [4.9, 8.3, 2.1, 7.6, 5.7],
    "Steals": [1.2, 1.5, 0.9, 2.0, 1.7],
    "Blocks": [0.7, 0.3, 1.9, 0.5, 1.2],
    "Field Goal %": [48.2, 41.7, 51.3, 43.8, 46.5],
}

# Create a DataFrame from the dictionary
nba_df = pd.DataFrame(data)

# Display the DataFrame
print(nba_df)

       Player Name  Points  Rebounds  Assists  Steals  Blocks  Field Goal %
0       John Smith    25.3       7.1      4.9     1.2     0.7          48.2
1  Michael Johnson    12.5       5.6      8.3     1.5     0.3          41.7
2   Chris Williams    18.2      10.4      2.1     0.9     1.9          51.3
3   Kevin Thompson    14.7       4.2      7.6     2.0     0.5          43.8
4    Alex Martinez    21.0       6.9      5.7     1.7     1.2          46.5

In [13]:
df.sort_values(by=['a','b','c','d','e'],ascending=True)

   a  b  c  d  e
7  0  2  2  2  3
5  0  2  4  0  3
8  0  3  3  0  4
1  1  2  0  3  0
6  1  2  2  4  1
4  2  1  4  2  0
2  2  3  0  1  2
9  2  4  3  3  2
3  3  1  2  3  1
0  3  2  2  1  0

In [14]:
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

# generate random classification dataset with 3 classes, 10 features, and 5000 samples
X, y = make_classification(n_samples=5000, n_features=10, n_classes=3, n_clusters_per_class=1)
# print((X),'\n',(y))

# split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=42)

# create an SVC model with a linear kernel
svc_model = SVC(kernel='linear')

# train the model on the training data
svc_model.fit(X_train, y_train)

# make predictions on the testing data
y_pred = svc_model.predict(X_test)

# calculate the accuracy score of the model
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

#generate new data to predict
X_new, y_new = make_classification(n_samples=3, n_features=10, n_classes=3, n_clusters_per_class=1)
# print((X_new),'\n',(y_new))

# predict the class of the new data

y_new_pred = svc_model.predict(X_new)
print("Predicted class:", y_new_pred)

Accuracy: 0.9564
Predicted class: [1 0 2]

In [1]:
import tensorflow as tf
print("TensorFlow version:", tf.__version__)

TensorFlow version: 2.12.0

In [16]:
import numpy as np
#import make_classification from sklearn.datasets
from sklearn.datasets import make_classification
# generate random classification dataset with 3 classes, 10 features, and 5000 samples
X, y = make_classification(n_samples=5000, n_features=10, n_classes=3, n_clusters_per_class=1)
print((X),'\n',(y))

# split the data into training and testing sets

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=42)

# create an SVC model with a linear kernel

svc_model = SVC(kernel='linear')


# train the model on the training data

svc_model.fit(X_train, y_train)

[[ 1.80274814 -0.12000401  1.29564498 ... -0.86689752  0.79911679
  -1.80476162]
 [ 0.47976425  2.50713245  0.71596266 ... -0.38280605 -0.43475104
  -0.77301441]
 [-1.3162164   1.36600561  0.84221195 ... -0.09986366 -1.00370789
  -0.84525495]
 ...
 [ 0.55558953  0.71985898  0.06337104 ... -0.12950318  1.21193994
  -0.06659845]
 [-0.53016267 -0.43939317 -0.11709335 ...  0.14678037 -0.26599154
  -1.39251518]
 [ 1.82132292 -0.54373532  1.76089984 ... -1.06102093  0.68411941
  -0.59697294]]
 [2 0 1 ... 2 2 2]

SVC(kernel='linear')

In [ ]:
#Q: can you explain me about Relu and Softmax activation functions?
#A: Relu is a rectified linear unit activation function, it is used to add non-linearity to the model. 
#   Softmax is used to convert the output of the model 
#   to a probability distribution over predicted output classes.
#Q: can you explain me about the vanishing gradient problem?
#A: The vanishing gradient problem is a problem in which the gradient of the loss function with respect 
#   to the weights of the neural network becomes very small.
#Q: can you build me a neural network with 3 layers, 10 neurons in the first layer, 5 neurons in the second layer, and 3 neurons in the third layer?
#A: model = tf.keras.Sequential([
#   tf.keras.layers.Dense(10, activation='relu'),
#   tf.keras.layers.Dense(5, activation='relu'),
#   tf.keras.layers.Dense(3, activation='softmax')
#])

#Q: can you explain me about the Adam optimizer?
#A: Adam is an optimization algorithm that can be used instead of the classical stochastic gradient descent
#   procedure to update network weights iterative based in training data.