In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [21]:
d=pd.read_html('https://www.basketball-reference.com/playoffs/NBA_2022.html#all_all_playoffs')

In [30]:
d[0]

,0,1,2,3,4,5
0,Finals,Golden State Warriors over Boston Celtics (4-2),Series Stats,NaN,NaN,NaN
1,"Game 1 Thu, June 2 Boston Celtics 120@ Golden ...","Game 1 Thu, June 2 Boston Celtics 120@ Golden ...","Game 1 Thu, June 2 Boston Celtics 120@ Golden ...",NaN,NaN,NaN
2,Game 1,"Thu, June 2",Boston Celtics,120.0,@ Golden State Warriors,108.0
3,Game 2,"Sun, June 5",Boston Celtics,88.0,@ Golden State Warriors,107.0
4,Game 3,"Wed, June 8",Golden State Warriors,100.0,@ Boston Celtics,116.0
...,...,...,...,...,...,...
115,Game 2,"Tue, April 19",New Orleans Pelicans,125.0,@ Phoenix Suns,114.0
116,Game 3,"Fri, April 22",Phoenix Suns,114.0,@ New Orleans Pelicans,111.0
117,Game 4,"Sun, April 24",Phoenix Suns,103.0,@ New Orleans Pelicans,118.0
118,Game 5,"Tue, April 26",New Orleans Pelicans,97.0,@ Phoenix Suns,112.0
119,Game 6,"Thu, April 28",Phoenix Suns,115.0,@ New Orleans Pelicans,109.0