In [ ]:
import pandas as pd
import numpy as np
import sqlite3
from random import randint

In [ ]:
all_tables_names="""common_player_info,draft_combine_stats,draft_history,game,game_info,game_summary,inactive_players,line_score,officials,other_stats,play_by_play,player,team,team_details,team_history,team_info_common"""
all_tables_names=all_tables_names.split(",")
all_tables_names

In [ ]:
#generate a random datframe
df = pd.DataFrame(np.random.randint(0,100,size=(100, 4)), columns=list('ABCD'))
df2=pd.DataFrame(np.random.randint(10,20,size=(5,5)),index=['a','b','c','d','e'],columns=list(['A','B','C','D','E']))
data=np.random.randint(0,100,size=(100, 4))
cols=['A','B','C','D']
df3=pd.DataFrame(data,columns=cols)
df3

In [ ]:
out_data=pd.read_csv('data.csv')
# len(out_data['player_name'])
season_2021_22=out_data[out_data['season']=='2021-22']
season_2021_22[season_2021_22['player_name']=='Stephen Curry']

In [ ]:
con = sqlite3.connect("nba.sqlite")
con2=sqlite3.connect("nba2.sqlite")
df = pd.read_sql_query("SELECT * from common_player_info", con)
# df.head()

In [ ]:
line_score=pd.read_sql_query("SELECT * from line_score", con)
line_score

In [ ]:
# #get all the tables in the csv folder
# import os
# Data_frames=[]
# tabels=os.listdir('csv')
# for i in tabels:
#     Data_frames.append(pd.read_csv('csv/'+i))
# print(len(Data_frames),len(tabels))
# tabels_names=[]
# for i in tabels:
#     tabels_names.append(i.split('.')[0])

In [ ]:
# for i in range(len(Data_frames)):
#     Data_frames[i].to_sql(tabels_names[i], con2, if_exists='replace', index = False)

dr=

In [ ]:
def random_multilevel_dataFrame():
    m=12
    n=3
    
    data=np.random.randint(0,100,size=(m, n))
    indexs=[]
    for i in range(3):
        indexs.append(chr(randint(65,90)))
    indexs*=4
    indexs.sort()
    indexs2=[]
    for i in range(4):
        indexs2.append(randint(1,3))
    indexs2*=3
    columns=[]
    for i in range(n):
        columns.append(chr(randint(100,110)))
    df=pd.DataFrame(data,index=[indexs,indexs2],columns=columns)
    return df
df=random_multilevel_dataFrame()
df

In [93]:
df=pd.read_csv('data.csv')
by_player=df.groupby ('player_name')
steph=by_player.get_group('Stephen Curry')
steph['pts'].mean()

23.761538461538464

In [95]:
keys=['a','b','c','d','e']
data=np.random.randint(0,100,size=(10, 5))
d={keys[i]:data[:,i] for i in range(len(keys))}
df=pd.DataFrame(d)
df

    a   b   c   d   e
0  35  72  30  42  87
1  32  38   9  28  45
2  83  98  62  97  68
3   3  27  48  15  12
4  49  53  28  66  29
5  19   0  96  26  88
6  33  97   8  38  21
7  34  30  80  63  63
8  47  23  37  34  32
9  29  42  31  97  23