In [39]:
import pandas as pd
import numpy as np
import sqlite3
from random import randint

In [ ]:
all_tables_names="""common_player_info,draft_combine_stats,draft_history,game,game_info,game_summary,inactive_players,line_score,officials,other_stats,play_by_play,player,team,team_details,team_history,team_info_common"""
all_tables_names=all_tables_names.split(",")
all_tables_names

In [ ]:
#generate a random datframe
df = pd.DataFrame(np.random.randint(0,100,size=(100, 4)), columns=list('ABCD'))
df2=pd.DataFrame(np.random.randint(10,20,size=(5,5)),index=['a','b','c','d','e'],columns=list(['A','B','C','D','E']))
data=np.random.randint(0,100,size=(100, 4))
cols=['A','B','C','D']
df3=pd.DataFrame(data,columns=cols)
df3

In [ ]:
out_data=pd.read_csv('data.csv')
# len(out_data['player_name'])
season_2021_22=out_data[out_data['season']=='2021-22']
season_2021_22[season_2021_22['player_name']=='Stephen Curry']

In [ ]:
con = sqlite3.connect("nba.sqlite")
con2=sqlite3.connect("nba2.sqlite")
df = pd.read_sql_query("SELECT * from common_player_info", con)
# df.head()

In [ ]:
line_score=pd.read_sql_query("SELECT * from line_score", con)
line_score

In [23]:
# #get all the tables in the csv folder
# import os
# Data_frames=[]
# tabels=os.listdir('csv')
# for i in tabels:
#     Data_frames.append(pd.read_csv('csv/'+i))
# print(len(Data_frames),len(tabels))
# tabels_names=[]
# for i in tabels:
#     tabels_names.append(i.split('.')[0])

C:\Users\matan.s\AppData\Local\Temp\ipykernel_22148\2020164856.py:6: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  Data_frames.append(pd.read_csv('csv/'+i))

5 5

In [24]:
# for i in range(len(Data_frames)):
#     Data_frames[i].to_sql(tabels_names[i], con2, if_exists='replace', index = False)

In [38]:
#create a dataframe with 2 columns and 3 rows twice 2 groups of data
df = pd.DataFrame(np.random.randint(0,100,size=(6, 2)), columns=list('AB'))
df2=pd.DataFrame(np.random.randint(10,20,size=(6,2)),index=['a','b','c','d','e','f'],columns=list(['A','B']))
# df3=pd.DataFrame(np.random.randint(0,100,size=(6, 6)),{0:'A',1:'B',2:'C',3:'D',4:'E',5:'F'},['a','b','c','d','e','f'])
#create a multilevel index dataframe
df3=pd.DataFrame(np.random.randint(0,100,size=(6, 2)),index=[['a','a','a','b','b','b'],[1,2,3,1,2,3]],columns=list(['A','B']))
#create a random multilevel index dataframe
df4=pd.DataFrame(np.random.randint(0,100,size=(6, 2)),index=[['a','a','a','b','b','b'],[1,2,3,1,2,3]],columns=list(['A','B']))

      A   B
a 1  12  91
  2   7  81
  3  37  24
b 1  24  91
  2  97  68
  3  31  44

In [57]:
def random_multilevel_dataFrame():
    m=12
    n=3
    
    data=np.random.randint(0,100,size=(m, n))
    indexs=[]
    for i in range(3):
        indexs.append(chr(randint(65,90)))
    indexs*=4
    indexs.sort()
    indexs2=[]
    for i in range(4):
        indexs2.append(randint(1,3))
    indexs2*=3
    columns=[]
    for i in range(n):
        columns.append(chr(randint(91,110)))
    df=pd.DataFrame(data,index=[indexs,indexs2],columns=columns)
    return df
df=random_multilevel_dataFrame()
df

      e   m   ^
F 3   9  27  91
  2   3  51  66
  2  39  18  14
  1  72  50  83
Q 3  43  84   9
  2  96  13  89
  2  88  59  20
  1   7  42   3
R 3  64  86  24
  2  99  78  96
  2  52  36  30
  1  98  45  57