In [20]:
import pandas as pd
import numpy as np
import sqlite3

In [32]:
all_tables_names="""common_player_info,draft_combine_stats,draft_history,game,game_info,game_summary,inactive_players,line_score,officials,other_stats,play_by_play,player,team,team_details,team_history,team_info_common"""
all_tables_names=all_tables_names.split(",")
all_tables_names

['common_player_info',
 'draft_combine_stats',
 'draft_history',
 'game',
 'game_info',
 'game_summary',
 'inactive_players',
 'line_score',
 'officials',
 'other_stats',
 'play_by_play',
 'player',
 'team',
 'team_details',
 'team_history',
 'team_info_common']

In [ ]:
#generate a random datframe
df = pd.DataFrame(np.random.randint(0,100,size=(100, 4)), columns=list('ABCD'))
df2=pd.DataFrame(np.random.randint(10,20,size=(5,5)),index=['a','b','c','d','e'],columns=list(['A','B','C','D','E']))
data=np.random.randint(0,100,size=(100, 4))
cols=['A','B','C','D']
df3=pd.DataFrame(data,columns=cols)
df3

In [19]:
out_data=pd.read_csv('data.csv')
# len(out_data['player_name'])
season_2021_22=out_data[out_data['season']=='2021-22']
season_2021_22[season_2021_22['player_name']=='Stephen Curry']

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,...,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
12024,12024,Stephen Curry,GSW,34.0,187.96,83.91452,Davidson,USA,2009,1,...,25.5,5.2,6.3,10.7,0.015,0.126,0.293,0.601,0.286,2021-22

In [26]:
con = sqlite3.connect("nba.sqlite")
df = pd.read_sql_query("SELECT * from common_player_info", con)
type(df.iloc[0]['from_year'])

numpy.float64