In [2]:
import pandas as pd
import numpy as np

In [13]:
#generate a random datframe
df = pd.DataFrame(np.random.randint(0,100,size=(100, 4)), columns=list('ABCD'))
df2=pd.DataFrame(np.random.randint(10,20,size=(5,5)),index=['a','b','c','d','e'],columns=list(['A','B','C','D','E']))
data=np.random.randint(0,100,size=(100, 4))
cols=['A','B','C','D']
df3=pd.DataFrame(data,columns=cols)
df3

     A   B   C   D
0   46  96  16  25
1    3  35  21  97
2   38  97  98  15
3   89  96  21  19
4    2  37  65  80
..  ..  ..  ..  ..
95  67  66  85  70
96  87  68   7  35
97  53  60  44  99
98  63  75  68  30
99  34  27  31  56

[100 rows x 4 columns]

In [ ]:
#generate a list of 10 NBA players
players=['LeBron James','Kevin Durant','Stephen Curry','James Harden','Anthony Davis','Russell Westbrook','Chris Paul','Kawhi Leonard','Giannis Antetokounmpo','Damian Lillard']
points=range(10,50,1)
assists=range(2,12,1)
rebounds=range(5,15,1)
steals=range(1,6,1)
blocks=range(0,5,1)
tpoints=[]
tassists=[]
trebounds=[]
tsteals=[]
tblocks=[]
players_names=[]
for i in range(10):
    tpoints.append(np.random.choice(points))
    tassists.append(np.random.choice(assists))
    trebounds.append(np.random.choice(rebounds))
    tsteals.append(np.random.choice(steals))
    tblocks.append(np.random.choice(blocks))
    players_names.append(players[i])

df=pd.DataFrame({'Player':players_names,'Points':tpoints,'Assists':tassists,'Rebounds':trebounds,'Steals':tsteals,'Blocks':tblocks})

In [24]:
df[(df['Points']>30) & (df['Assists']>5)]

         Player  Points  Assists  Rebounds  Steals  Blocks
1  Kevin Durant      32        8         6       4       2