In [15]:
import os
import datetime
import pandas as pd

In [29]:
#get all the files in the data directory
files = os.listdir("Data")

#filter out the files that are not .csv
files = [file for file in files if file[-4:] == ".csv"]
df1=pd.read_csv('Data\\'+files[0])
df1.tail()

,Timestamp,Power (w/kg),Form Power (w/kg),Air Power (w/kg),Watch Speed (m/s),Stryd Speed (m/s),Watch Distance (meters),Stryd Distance (meters),Stiffness,Stiffness/kg,Ground Time (ms),Cadence (spm),Vertical Oscillation (cm),Watch Elevation (m),Stryd Elevation (m)
4650,1692677144,3.479452,0.972603,0.0,2.76563,2.76563,12046,12046,14.750,0.202055,226,174,7.4,734.15,734.15
4651,1692677145,3.465753,0.972603,0.0,2.76563,2.76563,12048,12048,14.625,0.200342,228,174,7.4,734.21,734.21
4652,1692677146,3.438356,0.972603,0.0,2.73828,2.73828,12051,12051,14.625,0.200342,228,174,7.4,734.35,734.35
4653,1692677147,3.424658,0.972603,0.0,2.71484,2.71484,12053,12053,14.500,0.198630,230,174,7.4,734.42,734.42
4654,1692677148,3.397260,0.972603,0.0,2.68750,2.68750,12055,12055,14.375,0.196918,232,174,7.3,734.49,734.49

In [28]:
datetime.datetime.fromtimestamp(df1['Timestamp'][0])

datetime.datetime(2023, 8, 22, 5, 45, 51)

In [13]:
#from timestamp to datetime
def to_datetime(timestamp):
    return datetime.datetime.fromtimestamp(int(timestamp)/1000)

to_datetime(t)

OSError: [Errno 22] Invalid argument