## Start of chapter 3

In [3]:
import numpy as np
import torch
import matplotlib.pyplot as plt
import pandas as pd
# import sklearn
%matplotlib inline

In [7]:
print(torch.cuda.is_available())

True

In [8]:
weight=0.7
bias=0.3
start=0
end=1
step=0.02
x=torch.arange(start,end,step).unsqueeze(dim=1)
y=weight*x+bias
# x[:10],y[:10],len(x),len(y),x.shape,y.shape,len(y)

the ratio between the traning set and the validation set is <br>
*traning set : 60%-80%<br>
*validation set : 10%-20%<br>
*test set : 10%-20%<br>

In [9]:
train_split=int(0.8*len(x))
x_train=x[:train_split]
y_train=y[:train_split]
x_test=x[train_split:]
y_test=y[train_split:]
len(x_train),len(x_test),len(y_train),len(y_test)
# print(x_train)
# print(y_train)
# print(x_test)
# print(y_test)

(40, 10, 40, 10)

In [4]:
df=pd.read_csv('all_fuels_data.csv')
df.head(10)

,ticker,commodity,date,open,high,low,close,volume
0,CL=F,Crude Oil,2000-08-23,31.950001,32.799999,31.950001,32.049999,79385
1,CL=F,Crude Oil,2000-08-24,31.900000,32.240002,31.400000,31.629999,72978
2,CL=F,Crude Oil,2000-08-25,31.700001,32.099998,31.320000,32.049999,44601
3,CL=F,Crude Oil,2000-08-28,32.040001,32.919998,31.860001,32.869999,46770
4,CL=F,Crude Oil,2000-08-29,32.820000,33.029999,32.560001,32.720001,49131
5,CL=F,Crude Oil,2000-08-30,32.750000,33.400002,32.099998,33.400002,79214
6,CL=F,Crude Oil,2000-08-31,33.250000,33.700001,32.970001,33.099998,56895
7,CL=F,Crude Oil,2000-09-01,33.049999,33.450001,32.750000,33.380001,45869
8,CL=F,Crude Oil,2000-09-05,33.950001,33.990002,33.419998,33.799999,55722
9,CL=F,Crude Oil,2000-09-06,33.990002,34.950001,33.830002,34.950001,74692

In [5]:
v=df['volume']
v.plot()

:

: